---
import { Image } from "astro:assets";
import DateLocale from "./DateLocale.astro";
import "@styles/blogcard.css";

const {
  title = "Default Title",
  image = null,
  description = "Default Description",
  category = "Technology",
  date = null,
  slug = "",
} = Astro.props;
---

<a href={`/blog/posts/${slug}`} class="card">
  <div class="card__header">
    <Image src={image.src} alt={image.alt} class="card__image" />
  </div>
  <div class="card__body">
    <span class="tag tag-blue">{category}</span>
    <h4>{title}</h4>
    <p>
      {description}
    </p>
  </div>
  <div class="card__footer">
    <DateLocale date={date} omitYear={true} />
  </div>
</a>
